<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" 
            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FIRMORAT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">      
        <li ><a th:href="@{/documento/cargar}"> <span class="sr-only">(current)</span>Cargar Documento</a></li>
        <li class="active"><a th:href="@{/documento/firmar}">Firmar Documento</a></li>
        
      
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:text="${nombreCompleto}">""</a></li>        
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


	<div th:if="${success != null}" th:text="${success}"
		class="alert alert-success" role="alert"></div>
	<div th:if="${error != null}" th:text="${error}"
		class="alert alert-danger" role="alert"></div>
	<div th:if="${info != null}" th:text="${info}" class="alert alert-info"
		role="alert"></div>

	<div class="container" id="principal">
		<br>
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Firmar Documento</div>
				<div class="panel-body">
					<div style="text-align: center; width: inherit;">
						<form th:action="@{/documento/buscar}" action="post">
							<label>Nombre</label> &nbsp; <input style="width: 300px"
								type="text" id="nombre" name="nombre"> &nbsp;
							<button type="submit" class="btn btn-primary btn-sm">Buscar</button>
						</form>
					</div>
					<br>
					<div>
						<table id="tbPackageList" class="table table-bordered table-hover"
							style="width: 100%">
							<thead class="claro-bg-primary">
								<tr>
									<th style="text-align: center; width: inherit;">Nombre</th>
									<th style="text-align: center; width: inherit;">Descripcion</th>
									<th style="text-align: center; width: inherit;">Gestor</th>
									<th style="text-align: center; width: inherit;">Fecha
										Carga</th>
								</tr>
							</thead>
							<tbody id="tbPackageBodyList">
								<tr th:each="lista : ${listadoDocumentos}">
									<td style="display: none;" th:text="${lista.id}" id="idDoc">
									<td th:text="${lista.nombre}"></td>
									<td th:text="${lista.descripcion}"></td>
									<td
										th:text="${lista.trabajadorCarga.nombres}+' '+${lista.trabajadorCarga.apellidos}"></td>
									<td style="text-align: center; width: inherit;"
										th:text="${#dates.format(lista.fechaCarga,'dd-MM-yyyy')}"></td>
									<td style="text-align: center; width: inherit;"><a
										class="btn btn-primary btn-sm"
										th:href="@{/documento/archivo/}+${lista.documentoCargado}">Ver
									</a></td>
									
																		
									<td style="text-align: center; width: inherit;">
									<input type="hidden" id="id_2" th:value="${lista.id}">
									<a href="#firmar"
										class="btn btn-success btn-sm" data-toggle="modal"
										data-target="#myModal">Firmar</a></td>															
										 

									<!-- 
									<td style="text-align: center; width: inherit;"><a
										class="btn btn-success btn-sm"
										th:href="@{/documento/generar/}+${lista.id}">Firmar</a></td>
										 --> 
									<!-- ${#strings.substring(lista.documentoCargado,3,#strings.length(lista.documentoCargado))} -->
								</tr>
							</tbody>
						</table>
						

						<div class="modal fade" id="myModal" role="dialog">
							<div id="modal1" class="modal-dialog">

								<!-- Modal content-->
								<div id="modal2" class="modal-content">
								<form id="modalForm" th:action="@{/documento/generar}" method="post" >
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 style="font-family:courier; text-align:center;"class="modal-title">Ingrese su contraseña</h4>
									</div>
									<div style="text-align: center;" class="modal-body">
										<input type="password" placeholder="Contraseña" size="25"
											id="pass" class="form-control" />
											
											
											<small  class="form-text text-danger"></small>
									</div>
									<div class="modal-footer">																		
									<input type="hidden" name="id" id="id">
										<button type="submit" class="btn btn-default" id="btnAceptar">Aceptar</button>
											
									</div>
									</form>
								</div>

							</div>
						</div>

						<nav aria-label="Page navigation example"
							style="text-align: center;">
							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="">1</a></li>


							</ul>
						</nav>

					</div>


				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript">

function mostrar() {
  var x = document.getElementById("pass");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}


$('#myModal').on('shown.bs.modal', function (e) {
  	alert("Obteniendo certificado digital...");
});

var table = document.getElementById('tbPackageList'),rIndex;

for(var i=0;i< table.rows.length;i++){
	table.rows[i].onclick = function(){
	rIndex = this.rowIndex;
	document.getElementById("id").value = this.cells[0].innerHTML;
};
}


function validarDatos(valor, myId, msj) {					  
		    		  if( valor == null || valor.length == 0 || /^\s+$/.test(valor) ) {		    			  
		    			  $("#"+myId).attr("class","form-control is-invalid");
		    			  $("#"+myId).parent().children("small").text(msj).show();		    			  
		    		  	  return false;
		    		  }else{
		    			  $("#"+myId).attr("class","form-control");
		    			  $("#"+myId).parent().children("small").text("").hide();
		    			  return true;
		    		  }  
				  }


$("#btnAceptar").click(function () {
					  var valor ="";
			    	  var flagTC  = true; 
			    	  
			    	  $("small.form-text text-danger").hide();			    	  
			    	  var valor ="";			    	  
			    	  valor   = document.getElementById("pass").value;
			    	  flagTC  = validarDatos(valor,"pass","Debe ingresar una contraseña válida");
			    	  
			    	  if(flagTC!=false){
			    	  	  document.getElementById('modalForm').submit();
			    	  }	else{			    	  		
			    	  	event.preventDefault();
			    	  }			    	  
			    	  		    	  
			      });




			      

			      
			      

</script>

</html>